<div class="hero-unit" id="container">

    	<form class="form-search" method="post" action= "/location">
    		<input type="text" name="location" placeholder="Address or Intersection" class="input-large search-query">
    		<button type="submit" class="btn">Find MUNI</button>
    	</form>
    	
    </div>